
.Up_Button {
    -fx-opacity: 1.0;
}

.Up_Button:hover {
    -fx-border-color: #80CBC4;
    -fx-border-width: 0 0 3 0;
    -fx-cursor: hand;
}

.HBox {
    -fx-background-color: white;
}

.Center_Pane {
    -fx-background-color: white;
}

.Down_Button {
    -fx-opacity: 0.7;
    -fx-border-radius: 10;
}

.Down_Button:hover {
    -fx-opacity: 1.0;
    -fx-cursor: hand;
}


.Credit_Icon {
    -fx-image: url("Admin_Credit_Icon.png");
}

.Password_Icon {
    -fx-image: url("Admin_Password_Icon.png");
}

.User_Icon {
    -fx-image: url("Admin_User_Icon.png");
}

.Password_Menu_Icon {
    -fx-image: url("Admin_Lock_Icon.png");
}

.Credit_Menu_Icon {
    -fx-image: url("Admin_Credit_Menu.png");
}


.Text_Field {
    /*Todo*/
    -fx-text-fill: black;
}

.Label {
    -fx-text-fill: #330939;
}

.Menu_Line {
    -fx-fill: #E0F2F1;
}

.Profile_Image {
    -fx-stroke: #E0F2F1;
}

.Delete_Image {
    -fx-image: url("Admin_Delete_Picture.png");
}

.Delete_Image:hover {
    -fx-opacity: 0.7;
    -fx-cursor: hand;
}