.Button:hover {
    -fx-opacity: 0.7;
    -fx-cursor: hand;
}

.Rating:hover {
    -fx-cursor: hand;
}

#accountMenuButton:hover {
    -fx-background-color: #78909c;
    -fx-cursor: hand;
}

#backMainMenu:hover{
    -fx-background-color: #78909c;
    -fx-cursor: hand;
}